@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BalooRegular';
    src:
        local('BalooRegular'),
        url(/fonts/BalooRegular.ttf) format('truetype');
    font-display: block;
}
