@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BalooRegular';
    src:
        local('BalooRegular'),
        url(/fonts/BalooRegular.ttf) format('truetype');
    font-display: block;
}

body {
    color: rgb(216, 216, 216);
    min-height: 100vh;
    min-width: 100vw;
}
